
.burger-img {
    font-size: 40pt;
    box-sizing: border-box;
    color: lightgrey;
}

.burger-img:hover {
    font-size: 40pt;
    box-sizing: border-box;
    color: lightgrey;
    cursor:pointer;
}

.search-icon, .notification-icon {
    font-size: 20pt;
    box-sizing: border-box;
    color: lightgrey;
}

.settings-icon{
    font-size: 25pt;
    /* height: 40px; */
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    padding: 0;
}

.settings-icon:hover{
    font-size: 25pt;
    /* height: 40px; */
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    padding: 0;
    cursor:pointer;
}

.user-image{
    height: 40px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    padding: 0;
}

.nav-container{
    padding: 1rem;
    background-color: rgb(120, 75, 161);
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
    align-items: center;
    position: sticky;
    width: 100%;
    top:0;
    z-index: 10;
}

.burger-item{
    text-decoration: none;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(237, 214, 255);
}

.burger-item:hover{
    text-decoration: none;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(237, 214, 255);
    cursor:pointer;
}

.settings-container{
    position: relative;
    display: flex;
    flex-flow: column nowrap;

}

.user-settings{
    position: absolute;
    min-width: 120px;
    background-color:rgb(237, 214, 255);
    color: black;
    top: 58.2px;
    left: -6.67rem;
    padding: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.setting{
    padding-bottom: 1rem;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.user-details{
    padding-bottom: 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.tasks-container{
    display: flex;
    flex-flow: column nowrap;
    border-bottom:1px solid rgb(75, 29, 119);
}

.tasks-list, .lists-list, .contacts-list{
    position: relative;
    left: 8px;
    padding-top: 5px;
}

.tasks, .list, .lists {
    display: flex;
    justify-content: space-between;
    width: 95%;
    text-decoration: none;
    color: black;
}

.lists-container{
    border-bottom:1px solid rgb(75, 29, 119);
}


.contacts-container{
    border-bottom:1px solid rgb(75, 29, 119);
}

.notification-container{
    position: relative;
}

.logout{
    margin: 0;
    width: 100%;
    margin-top: 1rem;
}
.logout:hover{
    margin: 0;
    width: 100%;
    margin-top: 1rem;
    cursor:pointer;
}

.user-block{
    display: flex;
    position: absolute;
    right: 3rem;
}

.notification-count-container{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: red;
    aspect-ratio: 1/1;
    min-width: 16px;
    border: 1px solid whitesmoke;
    border-radius: 16px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container{
    display: flex;
    align-items: center;
    width: 200px;
}

.search-input{
    font-size: 18pt;
    border: none;
    border-radius: 5px;
    width: 80%;
    background-color: rgb(217, 172, 255);
    margin-left: .5rem;
    color: whitesmoke;
}

.search-input::placeholder{
    font-size: 18pt;
    color: Black;
}
.search-input:focus{
    font-size: 18pt;
    border: none;
    color:rgb(120, 75, 161);
    outline: none;
    background-color: whitesmoke;
}

.user-link{
    text-decoration: none;
    font-size: 16pt;
    color: black;
    margin-bottom: 1rem;
}

.lists{
    width: 100%;
}

.add-list-icon, .list-options-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:rgb(75, 29, 119);
    background-color: whitesmoke;
    border: 1px solid rgb(75, 29, 119);
    padding-left: .25rem;
    padding-right: .25rem;
}

.add-list-icon:hover, .list-options-button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(75, 29, 119);
    border: 1px solid whitesmoke;
    padding-left: .25rem;
    padding-right: .25rem;
}

.list-wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12pt;
    padding: .25rem;
    padding-right: .5rem;
    box-sizing: border-box;
}

.list-wrapper:hover{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12pt;
    background-color: rgb(217, 172, 255);
    padding: .25rem;
    padding-right: .5rem;
    box-sizing: border-box;
}

.list{
    width:100%;
}

/* .list-options-button{
    width: 10px;
} */

.list-options-wrapper{
    position: relative
}

.list-edit-options{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    background-color: whitesmoke;
    justify-content: space-between;
    padding: 1rem;
    background-color:whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 .25rem .1rem lightgray;
    font-size: 12pt;
    z-index: 11;
    width: 80px;
    height: 70px;
}

.list-option{
    border: none;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;

}

.list-option:hover{
    border: none;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    font-weight: 600;
}


.exit {
    text-decoration: none;
    aspect-ratio: 1/2;
    color: rgb(75, 29, 119);
    border: 1px solid rgb(75, 29, 119);
    background-color: whitesmoke;
    padding-block-start: 0px;
    padding-block-end: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .25rem;
    margin: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit:hover {
    text-decoration: none;
    aspect-ratio: 1/2;
    color: whitesmoke;
    background-color:rgb(75, 29, 119);
    border: 1px solid whitesmoke;
    padding-block-start: 0px;
    padding-block-end: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .25rem;
    margin: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dimmer {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 29, 119, .5);
    z-index: 20;
}

.edit-form-button {
    margin-top: 1rem;
    font-size: 16pt;
    padding: 5px;
    border: 1px solid rgb(120, 75, 161);
    border-radius: 5px;
    color:white;
    background-color: rgb(120, 75, 161);
    box-sizing: border-box;
}
.edit-form-button:hover {
    margin-top: 1rem;
    font-size: 16pt;
    padding: 5px;
    border-radius: 5px;
    background-color:rgb(75, 29, 119);
    color: whitesmoke;
}

.dimmer-errors {
    color: whitesmoke;
    background-color: red;
    width: fit-content;
    border-radius: 5px;
    padding: .25rem;
    border: 1px solid whitesmoke;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 18pt;
}



@media screen and (min-width: 670px) {
    .burger-bar {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        box-sizing: border-box;
        margin-right: 10rem;
    }

    .nav-link{
        text-decoration: none;
        color: black;
        padding: .5rem;
        font-size: 16pt;
        width: 50%;
    }

    .nav-link:hover{
        text-decoration: none;
        color: black;
        padding: .5rem;
        font-size: 16pt;
        width: 50%;
        font-weight: 700;
        border-bottom: 1px solid whitesmoke;
    }

    .nav-links-container{
        position: absolute;
        top: 67px;
        left: -1rem;
        background-color: rgb(237, 214, 255);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        height: fit-content;
        padding: 1rem;
        min-width: 100px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .nav-logo {
        width: 170px;
        font-size: 50pt;
    }

}

@media screen and (max-width: 669px) {

    .burger-bar {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        box-sizing: border-box;
        margin-right: 5rem;
    }

    .nav-links-container{
        position: absolute;
        top: 67px;
        left: -1rem;
        background-color: rgb(237, 214, 255);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        height: fit-content;
        padding: 1rem;
        min-width: 70px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .nav-logo {
        width: 180px;
        font-size: 50pt;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}