.account-info-container{
    display: grid;
    grid-template-areas:
    "l b";
    grid-template-columns: 148.73px 350px;
    height: fit-content;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16pt;
    color: black;
    margin: 0;
    padding: 0;
}

.page-container{
    width: 100%;
    height: 100%;
    background-color: rgb(243, 228, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections-list{
    border-right: 1px dotted lightgrey;
    margin: 0;
    padding-left: 0;
    width: fit-content;
    grid-area: l;
    box-sizing: border-box;
}

.sections-list li{
    list-style-type: none;
    padding: 1rem;
}

.account-body-container {
    grid-area: b;
    width: 100%;
    display: grid;
    grid-template-areas:
    "h"
    "i";
    /* grid-template-rows: 50px fit-content;
    grid-template-columns: 1fr; */
}

.account-header-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    grid-area: h;
    width: 100%;
    height: fit-content;
    border-bottom: 1px dotted lightgrey;
    padding: 1rem;
    box-sizing: border-box;
}

.account-header{
    margin-block-start: 0px;
    margin-block-end: 0;
    height: fit-content
}

.exit {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    aspect-ratio: 1/2;
    color: rgb(75, 29, 119);
    border: 1px solid rgb(75, 29, 119);
    background-color: whitesmoke;
    padding-block-start: 0px;
    padding-block-end: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .25rem;
    margin: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit:hover {
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    aspect-ratio: 1/2;
    color: whitesmoke;
    background-color:rgb(75, 29, 119);
    border: 1px solid whitesmoke;
    padding-block-start: 0px;
    padding-block-end: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .25rem;
    margin: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    padding: 1rem;
}

.edit-input-container {
    margin-top: 1rem;
}

.errors-container {
    color: red;
}