.footer{
    background-color: white;
    height: 278px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.sitemap{
    width: 245px;
    height: fit-content;
    font-family: "Nokora";
    color: #515151;
    display: flex;
}

.sitemap-list{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 50%;
}

.list-heading{
    font-weight: bold;
    font-size: 15pt;
}

.list-item{
    text-decoration: none;
    font-size: 14pt;
    color: #515151;
}
.list-item:visited{
    color: #A31127;
}
.list-item:hover{
    color: #0054A4;
}

#copywright{
    display: flex;
    align-items: center;
}

.floor-container {
    display: flex;
    justify-content: space-around;
    width: 600px;
}

.link-container{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

.social-link{
    border: none;
    background-color: white;
    width: fit-content;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-link img {
    height: 40px;
}