.navigation_bar{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    height: 114px;
    width: 100%;
    background-color: #0054a4;
    box-shadow: 0px 1px 2px 1px black;
}

.logo-wrapper {
    height: 114px;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.logo{
    display: flex;
    width: 177px;
    text-decoration: none;
}
.logo-med{
    height: 84px;
    display: flex;
    align-self: flex-end;
    padding-right: 5px;
}
.logo-text{
    display: flex;
    align-self: flex-end;
    width: 30px;
    font-size: 18pt;
    font-weight: 500;
    color: #E5E5E5; 
}

.spacer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
}

.menu-bar{
    display: flex;
    justify-content: flex-end;
    width: 400px;
    align-items: center;
}

.burger-button {
    display: flex;
    flex-flow: row nowrap;
    color: #E5E5E5;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 14pt;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}

.burger-button:hover {
    background-color: #003A72;
    cursor: pointer;
}

.burger-button:hover .burger-icon {
    display: none;
}

.burger-button:hover .burger-icon-white {
    display: flex;
}

.burger-icon-white {
    display: none;
}

.burger-button>img {
    height: 15px;
    width: 20px;
}

.burger-text {
    margin-left: 10px;
}
.menu-button{
    display: flex;
    align-items: center;
    margin-left: 15px;
    color: #E5E5E5;
    font-family: "Nokora";
    font-weight: bold;
    font-style: none;
    font-size: 18pt;
    text-decoration: none;
}
.menu-button:hover{
    color: white;
}

.menu-button-border {
    border: 1px solid #E5E5E5;
    padding: 5px;
    border-radius: 3px;
    height: 38px;
}
.menu-button-border:hover {
    border:1px solid white;
}


.user-menu-bar{
    display: flex;
    width: 100%;
    background-color:#0054a4;
    min-height: 40px;
    height: 40px;
    align-items: center;
}

.search-container{
    height: 30px;
    width: 300px;
    display: flex;
    align-items: center;
    /* background-color: #198FCB; */
    border-radius: 3px;
}

.search-input{
    border: none;
    background-color:#198FCB;
    height: 20px;
    color: white;
}
.search-input:focus{
    border: none;
    background-color: white;
    height: 20px;
    outline: none;
    color: #515151;
}


.auth-menu-bar{
    display: flex;
    height: fit-content;
    width: fit-content;
}

.sub-menu-button{
    display: flex;
    text-decoration: none;
    border: none;
    background-color: rgba(25, 143, 203,.2);
    margin-top: 15px;
    margin-right: 10px;
    height: 25px;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-family: "Sniglet";
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    color: #515151;
}
.sub-menu-button:hover {
    background-color: rgba(15, 125, 180, 0.3)
}
body,
html,
#root {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}