.error-container {
    background-color: #e20d1940;
    display: flex;
    padding: 10px;
    height: 48px;
    justify-content: flex-start;
    align-items: center;
    color: #515151;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-container {
    margin-right: 10px;
}