
.main-display {
        display: grid;
        grid-template-columns: 50%,
        1%,
        49%;
        height: 100%;
        width: 100%;
        position: relative;
        padding: 10px;
        box-sizing: border-box;
    }
    .left-main {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        grid-row: 1/-1;
        grid-column: 1/2;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        z-index: 1;
        width: 51%;
        grid-area: 1/-1;
        box-sizing: border-box;
        padding: 15px;
        }
    .right-main {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        grid-row: 1/-1;
        grid-column: 2/-1;
        background-color: #DBECF5;
        border-radius: 10px;
        width: 50%;
        grid-area: 1/-1;
        margin-left: 50%;
        padding: 15px;
        padding-left: calc(1% + 15px);
        box-sizing: border-box;
}
.dashboard-container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #B6E1F7;
    flex-flow: row nowrap;
    justify-content: flex-start;
    box-sizing: border-box;
}