body{
    background-color: rgb(237, 214, 255);
    padding: 0;
}
.root{
    display: flex;
    align-content: center;
    align-items:center;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    display: flex;
    margin: 1rem;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    background-color: rgb(242, 230, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 1rem;
    min-height: 500px;

}

.title-container{
    display: flex;
    box-sizing: border-box;
    flex-flow: row wrap;
    background-color: rgb(242, 230, 255);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: .75rem;
    color:black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-right: 2rem;
}

.header-title {
    font-size: 20pt;
}

.tasks-status-container {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(242, 230, 255);
}

.task-detail-container {
    background-color:rgb(237, 214, 255);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: .25rem;
    margin: .25rem;
    border-radius: 5px;
    color: black;
    border-bottom: none;
}

.tasks-total{
    font-size: 16pt;
}

.tasks-container {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 2rem;
}

.options-container{
    display: flex;
    flex-flow: row nowrap;
    font-size: 16pt;
    justify-content: flex-end;
    padding-right: 2rem;
    border-bottom: 1px dotted grey;
    box-sizing: border-box;
    position: relative;
    height: 40px;
}

.task-option {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    color: black;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.filter-button{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
}

.tasks-filter-container{
    position: absolute;
    top: 35px;
    width: 100px;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    padding: 1rem;
    background-color:whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 .25rem .1rem lightgray;
    font-size: 12pt;
}

.checker-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.bulk-actions-container{
    display: flex;
    flex-flow: row nowrap;
    padding: .5rem;
}

.task-filters{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.bulk-button{
    margin-right: .5rem;
    background-color: whitesmoke;
    outline: none;
    border: 1.25px solid lightgrey;
    border-radius: 3px;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.bulk-button:hover {
    margin-right: .5rem;
    color: whitesmoke;
    background-color: rgb(120, 75, 161);
    outline: none;
    border: 1.25px solid lightgrey;
    border-radius: 3px;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-button{
    border: 1.25px solid lightgrey;
    border-radius: 3px;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 16pt;
}

.share-button:hover{
    border: 1.25px solid lightgrey;
    border-radius: 3px;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 16pt;
    background-color: rgb(120, 75, 161);
    color: whitesmoke;
}

.bulk-button-container{
    position: relative;
}

.bulk-container{
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    background-color: whitesmoke;
    justify-content: space-between;
    padding: 1rem;
    background-color:whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 .25rem .1rem lightgray;
    font-size: 12pt;
}

.select-option, .action-option {
    margin-bottom: .25rem;
}






